body {
    color: #4F65F7;
    font-family: 'Nunito', sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
    text-align: center;
}

footer {
    color: #6577EE;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color: #6577EE;
    margin-right: 16px;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
    color: #333333;
}

.portrait {
    width: 250px;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

button {
    cursor: pointer;
    border: 1px solid #6577EE;
    background: #6577EE;
    color: #ffffff;
    font-weight: bold;
    padding: 8px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

#message-1 {
    margin-top: 75px;
}

.foot-text {
    font-size: 13px;
    opacity: 0.8;
}

.about-text{
    font-size: 17px;
}